.header { 
    background-color: #333; 
    color: #ffffff; 
    text-align: center; 
    padding: 1rem; 
    }
.flex-container{
    display: flex;
    gap: 500px;
    padding: 30px;
    color: blueviolet;
    
}
.flex-item{
    border: 2px solid #000000;
}
.footer { 
    background-color: #333; 
    color: #ffffff; 
    text-align: center;
    padding: 1rem; 
    position: static;
    bottom: 0;
    min-height: 30px;
    } 
.Image{
    grid-template-columns: none;
    grid-column: span;
    text-align: center;
}
    
